<app-header></app-header>
<form class="text-center border border-light p-5">

  <div class="card-header">
      <h4 class="card-title mt-2">Modifier une Ville</h4>
  </div>

  <label>Nom de la ville</label>
  <input name='nom' type='text' [(ngModel)]='this.ville.nom' class="form-control mb-4">
  <label>Code Postal</label>
  <input name='codePostal' type='text' [(ngModel)]='this.ville.codePostal' class="form-control mb-4">
  <label>Pays</label>
  <input name='nomPays' type='text' [(ngModel)]='this.ville.code.nom' class="form-control mb-4">

  <button class="btn btn-info btn-block my-4" (click)="updateVille()">Valider</button>
  <button class="btn btn-info btn-block my-4" (click)="navigate('ville')">Retour</button>

</form>
<app-footer></app-footer>
