<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/welcome">Acceuil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Utilisateur</a>
              <div *ngIf="this.username == null" class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/signin">Sign in</a>
                <a class="dropdown-item" routerLink="/createCompte">Sign up</a>
              </div>
              <div *ngIf="this.role == 'admin'" class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/user">View</a>
                <!-- <a class="dropdown-item" routerLink="/profil">Profil</a>   TO DO -->
                <a class="dropdown-item" routerLink="/signup">Ajouter admin</a>
                <a class="dropdown-item" routerLink="/logout">Logout</a>
              </div>
              <div *ngIf="this.role == 'user'" class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <!-- <a class="dropdown-item" routerLink="/profil">Profil</a>   TO DO -->
                <a class="dropdown-item" routerLink="/logout">Logout</a>
              </div>
            </li>
            <li *ngIf="this.role == 'admin'" class="nav-item active">
              <a class="nav-link" routerLink="/gite">Gites<span class="sr-only">(current)</span></a>
            </li>
            <li *ngIf="this.role == 'user'" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Gites</a>
                <div *ngFor="let git of gites"class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" (click)="navigate('reserveGite',git.idGite)">{{git.nom}}</a>
                </div>
              </li>
            <li *ngIf="this.username != null" class="nav-item active">
              <a class="nav-link" routerLink="/reservation">Reservations<span class="sr-only">(current)</span></a>
            </li>
            <li *ngIf="this.role == 'admin'"  class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Administration</a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/ville">Villes</a>
                <a class="dropdown-item" routerLink="/pays">Pays</a>
                <a class="dropdown-item" routerLink="/saison">Saisons</a>
                <a class="dropdown-item" routerLink="/log">Logs</a>
              </div>
            </li>
          </ul>
        </div>
    </nav>
</header>
