<app-header></app-header>
<form class="text-center border border-light p-5">

  <div class="card-header">
      <h4 class="card-title mt-2">Modifier un gîte</h4>
  </div>

  <label>Nom du gîte</label>
  <input name='nom' type='text' [(ngModel)]='nom' class="form-control mb-4">
  <label>Rue</label>
  <input name='adresse1' type='text' [(ngModel)]='adresse1' class="form-control mb-4">
  <label>Ville</label>
  <input name='adresse2' type='text' [(ngModel)]='adresse2' class="form-control mb-4">
  <label>Description</label>
  <input name='description' type='text' [(ngModel)]='description' class="form-control mb-4">

  <button class="btn btn-info btn-block my-4" (click)="updateGite()">Valider</button>
  <button class="btn btn-info btn-block my-4" (click)="navigate('gite')">Retour</button>

</form>
<app-footer></app-footer>
