<app-header></app-header>
<div class="list_gites">
  <ul class="list">
    <li class="ligne">
      <span class="item">Nom du gite</span>
      <span class="item_bis">Modifer</span>
      <span class="item_bis">Supprimer</span>
    </li>
    <li *ngFor="let git of this.gite" class="ligne_item">
      <span class="item"><button (click)="navigate('viewGite',git.idGite)">{{git.nom}}</button></span>
      <span class="item_bis"><button (click)="navigate('updateGite',git.idGite)">Update</button></span>
      <span class="item_bis"><button (click)="delete(git.idGite)">Delete</button></span>
    </li>
  </ul>
</div>
<app-footer></app-footer>