<app-header></app-header>
<a (click)="navigate('addGite')">New Gite</a>
<div class="list_gites">
  <ul class="list">
    <li class="ligne">
      <span class="item">Nom du gite</span>
      <span class="item_bis">Modifer</span>
      <span class="item_bis">Supprimer</span>
    </li>
    <li *ngFor="let git of this.gite" class="ligne_item">
      <span class="item"><a (click)="navigate('viewGite',git.idGite)">{{git.nom}}</a></span>
      <span class="item_bis"><a (click)="navigate('updateGite',git.idGite)">Update</a></span>
      <span class="item_bis"><a (click)="delete(git.idGite)">Delete</a></span>
    </li>
  </ul>
</div>
<app-footer></app-footer>