.list_gites {
    float: left;
    margin: 2% 10%;
    width: 80%;
    border: 2px solid black;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ligne {
    float: left;
    width: 100%;
    text-align: center;
}

.ligne_item {
    float: left;
    width: 100%;
    text-align: center;
    border-top: 1px solid black; 
}

.item {
    float: left;
    width: 50%;
}

.item_bis {
    float: left;
    width: 25%;
    border-left: 1px solid black;
}